.navbar {
  background-color: $white;
  box-shadow: 0 2px 15px $silver ;
  height: 70px;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.nav-img {
    height: 30px;
    width: auto;
}

.nav-title {
  display: none;
}

@media only screen and (min-width: 1024px){
  .navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .nav-title {
    display: inline-block;
    font-size: $text-big; 
  }
}
