.layer-container {
  display: flex;
  width: 100%;
  max-width: $content-default-width;
  margin: 100px auto;
  flex-wrap: wrap;
}

.tech {
  align-items: center;
  background-color: $earls-green;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  margin: 10px;
  margin: 10px -10px -10px 10px;
  padding: 10px;
  width: 200px;  
}

.tech-logo {
  height: 100px;
  width: 100px;
}

.tech-border {
  background-color: white;
  border:  2px solid $earls-green;
  margin: 15px;
  border-radius: 5px;
}

.tech-border:hover {
  transform: translate(20px,20px);
  transition-duration: 0.5s;
}

.tech:hover {
  transform: translate(-20px,-20px);
  transition-duration: 0.5s;
}

.tech-title {
  font-size: $text-medium;
}

.tech-release {
  font-weight: bold;
  font-size: $text-medium;
}

.tech-info {
  font-size: $text-small;
  text-align: center;
}
