body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.layer-container {
  align-items: center;
  display: grid;
  grid-gap: 10px 10px;
  grid-template-areas: 
    "main-tech sec-tech-1 sec-tech-2"
    "main-tech sec-tech-3 sec-tech-4";
  grid-template-columns: repeat(3,220px);
  grid-template-rows: repeat(2,320px);
  justify-content: center;
  justify-items: center;
  max-width: $content-default-width;
  margin: 10px auto;
  width: 100%;
  padding: 10px 50px;
}

.tech {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 300px;
  margin: 15px;
  padding: 10px;
  position: relative;
  font-size: 16px;
  width: 100%;
  
  &:first-child {
    grid-area: main-tech;
    border-right: 2px solid $earls-green;
  }

  &:nth-child(2) {
    grid-area: sec-tech-1;
  }

  &:nth-child(3) {
    grid-area: sec-tech-2;
  }

  &:nth-child(4) {
    grid-area: sec-tech-3;
  }

  &:nth-child(5) {
    grid-area: sec-tech-4;
  }
}

.tech-logo {
  height: 100px;
  width: 100px;
}

.tech-title {
  margin-top: 10px;
}

.tech-release {
  font-weight: bold;
  margin-top: 10px;
}

.tech-info {
  margin-top: 15px;
  text-align: center;
}
