.title-container {
  height: 90px;
  width: 70px;
}

.title-text {
  color: black;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  left: 50px;
  position: absolute;    
  top: 35px;
  vertical-align: middle;
}

.title-deco {
  height: 90px;
  position: relative;
  vertical-align: middle;
  width: 70px;
  z-index: -1;
}
