.title-text {
  display: flex;
  color: $black;
  font-size: $text-big;
  position: relative;
  height: 100px;
  width: 60%;
  align-items: center;
  justify-content: left;
  padding: 10px;

  &::before{
    content: '';
    background: url(img/triangle.svg) no-repeat;
    height: 90px;
    transform: translateX(20px);
    width: 70px;
    z-index: -1;
  }
}
  