.title-container {
    height: 100px;
    width: 100%;
}

.title-text {
  display: flex;
  color: $black;
  font-size: $text-big;
  position: relative;
  height: 100px;
  width: 60%;
  align-items: center;
  justify-content: left;
  padding: 10px;

.title-deco {
    height: 90px;
    position: relative;
    vertical-align: middle;
    width: 70px;
    z-index: -1;
}