.title-text {
  display: flex;
  color: $black;
  font-size: $text-big;
  height: 100px;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 100%;

  &::before{
    content: '';
    background: url(img/triangle.svg) no-repeat;
    height: 90px;
    transform: translateX(20px);
    width: 70px;
    z-index: -1;
  }
}

@media only screen and (min-width: 1024px){
  .title-text {
    justify-content: left;
    width: 60%;
  }
}
