$cerulean: #00ADEE;
$earls-green: #BED23C;
$silver: #C4C4C4;
$white: #FFFFFF;
<<<<<<< feb18279731e5074ef1387d92f51c5b859256f60
$black: #000000;
=======
>>>>>>> Branch updated with last changes in layout_project_transitions
