@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<h2>@Localizer["MovieControllerTitle"].Value</h2>
<p>@Localizer["MovieControllerParagraph"].Value</p>

<div>
<a asp-action="Create">@Localizer["MovieCreateTitle"].Value</a>
</div>
